In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rd
fuel = pd.read_csv('course-files/fuel.csv', low_memory=False, 
                   index_col = 'Vehicle ID',
                   usecols = ['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'])

FileNotFoundError: [Errno 2] File course-files/fuel.csv does not exist: 'course-files/fuel.csv'

In [34]:
fuel["Make"].value_counts()

Vehicle ID
26587    Alfa Romeo
27705    Alfa Romeo
26561    Alfa Romeo
27681    Alfa Romeo
27550    AM General
            ...
32060    Mitsubishi
32063    Mitsubishi
32065    Mitsubishi
32064    Mitsubishi
32106     Mitsubish
Name: Make, Length: 31684, dtype: object

In [33]:
fuel.sample(frac=1)

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
22265,2006,Ford,Ranger Pickup 4WD,Standard Pickup Trucks 4WD,Regular,16.0
11460,1994,Mercury,Villager FWD Wagon,Special Purpose Vehicles,Regular,17.0
5686,1989,Chrysler,LeBaron GTS,Midsize Cars,Regular,23.0
29442,2010,Ford,Escape Hybrid FWD,Sport Utility Vehicle - 2WD,Regular,32.0
6123,1989,GMC,Sierra 1500 4WD,Standard Pickup Trucks,Regular,14.0
...,...,...,...,...,...,...
1820,1986,Ford,Mustang,Subcompact Cars,Regular,23.0
2633,1986,Dodge,B150/B250 Van 2WD,Vans,Regular,13.0
4314,1988,Pontiac,Sunbird Convertible,Subcompact Cars,Premium,21.0
18668,2003,Jaguar,S-Type R,Midsize Cars,Premium,17.0
12580,1996,Dodge,Stealth,Subcompact Cars,Regular,19.0

In [26]:
len(fuel)

31684

In [8]:
fuel['Combined KPL'] = fuel['Combined MPG (FT1)']  * 1.609 / 3.78

In [25]:
fuel.insert(loc = 4, labels='liters per km', value = (100 / fuel["Combined KPL"]))

TypeError: insert() got an unexpected keyword argument 'labels'

In [29]:
fuel.drop(labels=27705, inplace=True)

In [30]:
fuel

,Year,Make,Model,Class,liters per km,Fuel Type,Combined KPL
Vehicle ID,,,,,,,
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,11.187073,Regular,8.938889
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,11.187073,Regular,8.938889
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,13.819325,Regular,7.236243
28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,13.819325,Regular,7.236243
27549,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,18.071425,Regular,5.533598
...,...,...,...,...,...,...,...
32060,2012,Mitsubishi,Lancer,Compact Cars,9.397141,Regular,10.641534
32063,2012,Mitsubishi,Lancer AWD,Compact Cars,9.397141,Regular,10.641534
32065,2012,Mitsubishi,Lancer Evolution,Compact Cars,12.364659,Premium,8.087566
32064,2012,Mitsubishi,Lancer Evolution,Compact Cars,12.364659,Premium,8.087566
32106,2012,Mitsubish,NaN,NaN,NaN,NaN,NaN