In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rnd
animals = pd.read_csv(r'E:\PythonAnacondaScripts\course-files\sleep_time.csv',
                   index_col='ID')
animals.fillna(0)

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,0.0,0.000000,11.9,0.00000,50.000
2,Owl monkey,Aotus,omni,Primates,0,17.0,1.8,0.000000,7.0,0.01550,0.480
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.00000,1.350
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
...,...,...,...,...,...,...,...,...,...,...,...
79,Tree shrew,Tupaia,omni,Scandentia,0,8.9,2.6,0.233333,15.1,0.00250,0.104
80,Bottle-nosed dolphin,Tursiops,carni,Cetacea,0,5.2,0.0,0.000000,18.8,0.00000,173.330
81,Genet,Genetta,carni,Carnivora,0,6.3,1.3,0.000000,17.7,0.01750,2.000
82,Arctic fox,Vulpes,carni,Carnivora,0,12.5,0.0,0.000000,11.5,0.04450,3.380
83,Red fox,Vulpes,carni,Carnivora,0,9.8,2.4,0.350000,14.2,0.05040,4.230

In [23]:
herbi = animals.where(animals['vore'] == 'herbi')

In [24]:
len(herbi)

83

In [29]:
len(herbi.dropna())

10

In [34]:
carni = animals.where( animals['vore'] == 'carni')
len(carni)

83

In [37]:
len(carni.dropna())

3

In [38]:
animals.query("sleep_total > 14 and vore == 'herbi'")

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
6,Three-toed sloth,Bradypus,herbi,Pilosa,NaN,14.4,2.2,0.766667,9.6,NaN,3.850
27,Western american chipmunk,Eutamias,herbi,Rodentia,NaN,14.9,NaN,NaN,9.1,NaN,0.071
39,Mongolian gerbil,Meriones,herbi,Rodentia,lc,14.2,1.9,NaN,9.8,NaN,0.053
40,Golden hamster,Mesocricetus,herbi,Rodentia,en,14.3,3.1,0.200000,9.7,0.0010,0.120
44,Round-tailed muskrat,Neofiber,herbi,Rodentia,nt,14.6,NaN,NaN,9.4,NaN,0.266
70,Arctic ground squirrel,Spermophilus,herbi,Rodentia,lc,16.6,NaN,NaN,7.4,0.0057,0.920
72,Golden-mantled ground squirrel,Spermophilus,herbi,Rodentia,lc,15.9,3.0,NaN,8.1,NaN,0.205
76,Eastern american chipmunk,Tamias,herbi,Rodentia,NaN,15.8,NaN,NaN,8.2,NaN,0.112