In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rnd
fuel = pd.read_csv(r'E:\PythonAnacondaScripts\course-files\fuel.csv', usecols = ['Vehicle ID','Year','Make','Model',
                'Class','Fuel Type','Combined MPG (FT1)','Start Stop Technology'], low_memory=False, index_col = 'Vehicle ID')
fuel

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
Vehicle ID,,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0,NaN
...,...,...,...,...,...,...,...
32060,2012,Mitsubishi,Lancer,Compact Cars,Regular,25.0,NaN
32063,2012,Mitsubishi,Lancer AWD,Compact Cars,Regular,25.0,NaN
32065,2012,Mitsubishi,Lancer Evolution,Compact Cars,Premium,19.0,NaN
32064,2012,Mitsubishi,Lancer Evolution,Compact Cars,Premium,19.0,NaN
32106,2012,Mitsubish,NaN,NaN,NaN,NaN,NaN

In [24]:
listOfCars = [ 'Renault', 'Toyota','Ford']
isInList = fuel['Model'].isin(listOfCars)
isInList

Vehicle ID
26587    False
27705    False
26561    False
27681    False
27550    False
         ...
32060    False
32063    False
32065    False
32064    False
32106    False
Name: Model, Length: 31684, dtype: bool

In [27]:
fuel[isInList]

Empty DataFrame
Columns: [Year, Make, Model, Class, Fuel Type, Combined MPG (FT1), Start Stop Technology]
Index: []

In [33]:
isNoStartStopDefined = fuel['Start Stop Technology'].isnull()

In [34]:
isNoStartStopDefined

Vehicle ID
26587    True
27705    True
26561    True
27681    True
27550    True
         ...
32060    True
32063    True
32065    True
32064    True
32106    True
Name: Start Stop Technology, Length: 31684, dtype: bool

In [35]:
fuel[isNoStartStopDefined]

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
Vehicle ID,,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0,NaN
...,...,...,...,...,...,...,...
32060,2012,Mitsubishi,Lancer,Compact Cars,Regular,25.0,NaN
32063,2012,Mitsubishi,Lancer AWD,Compact Cars,Regular,25.0,NaN
32065,2012,Mitsubishi,Lancer Evolution,Compact Cars,Premium,19.0,NaN
32064,2012,Mitsubishi,Lancer Evolution,Compact Cars,Premium,19.0,NaN
32106,2012,Mitsubish,NaN,NaN,NaN,NaN,NaN

In [37]:
isStartStopDefined = fuel['Start Stop Technology'].notnull()

In [38]:
isStartStopDefined

Vehicle ID
26587    False
27705    False
26561    False
27681    False
27550    False
         ...
32060    False
32063    False
32065    False
32064    False
32106    False
Name: Start Stop Technology, Length: 31684, dtype: bool

In [39]:
fuel[isStartStopDefined]

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
Vehicle ID,,,,,,,
30976,1998,Chevrolet,S10 Electric,Small Pickup Trucks 2WD,Electricity,55.0,N
30977,1998,Chevrolet,S10 Electric,Small Pickup Trucks 2WD,Electricity,28.0,N
30975,1998,Honda,EV Plus,Compact Cars,Electricity,48.0,N
30973,1999,Dodge,Caravan/Grand Caravan 2WD,Minivan - 2WD,Electricity,35.0,N
30971,1999,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,58.0,N
...,...,...,...,...,...,...,...
31926,2012,Lexus,RX 450h,Sport Utility Vehicle - 2WD,Premium,29.0,Y
31971,2012,Lexus,RX 450h AWD,Sport Utility Vehicle - 4WD,Premium,28.0,Y
31395,2012,Lincoln,MKZ Hybrid FWD,Midsize Cars,Regular,38.0,Y
31799,2012,Mercedes-Benz,S400 Hybrid,Large Cars,Premium,21.0,Y
31673,2012,Mitsubishi,i-MiEV,Subcompact Cars,Electricity,112.0,N

In [45]:
mpg50_60 = fuel['Combined MPG (FT1)'].between(50,60)

In [42]:
mpg50_60

Vehicle ID
26587    False
27705    False
26561    False
27681    False
27550    False
         ...
32060    False
32063    False
32065    False
32064    False
32106    False
Name: Combined MPG (FT1), Length: 31684, dtype: bool

In [47]:
fuel[mpg50_60]

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
Vehicle ID,,,,,,,
30976,1998,Chevrolet,S10 Electric,Small Pickup Trucks 2WD,Electricity,55.0,N
30971,1999,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,58.0,N
30966,2000,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,58.0,N
30967,2000,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,56.0,N
15606,2000,Honda,Insight,Two Seaters,Regular,53.0,Y
30965,2001,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,58.0,N
16447,2001,Honda,Insight,Two Seaters,Regular,53.0,Y
17355,2002,Honda,Insight,Two Seaters,Regular,53.0,Y
18313,2003,Honda,Insight,Two Seaters,Regular,53.0,Y
19357,2004,Honda,Insight,Two Seaters,Regular,52.0,Y
20479,2005,Honda,Insight,Two Seaters,Regular,52.0,Y
21632,2006,Honda,Insight,Two Seaters,Regular,52.0,Y
26425,2010,Toyota,Prius,Midsize Cars,Regular,50.0,Y