In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rnd
fuel = pd.read_csv(r'E:\PythonAnacondaScripts\course-files\fuel.csv', usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type',
                                                     'Combined MPG (FT1)'], low_memory=False, index_col='Vehicle ID')

In [37]:
fuel.loc[27705, 'Class'] = np.NaN
fuel.loc[26561, 'Class'] = np.NaN
fuel.loc[27550, 'Fuel Type'] = np.NaN
fuel.loc[27705, 'Combined MPG (FT1)'] = np.NaN
fuel.loc[27681, 'Combined MPG (FT1)'] = np.NaN

In [30]:
replaceRules = {'Class':'--', 'Fuel Type':'--', 'Combined MPG (FT1)':'-1'}

In [42]:
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,NaN,Regular,NaN
26561,1984,Alfa Romeo,Spider Veloce 2000,NaN,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,NaN
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,NaN,17.0

In [31]:
fuel.fillna(replaceRules)

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20
27705,1984,Alfa Romeo,GT V6 2.5,--,Regular,-1
26561,1984,Alfa Romeo,Spider Veloce 2000,--,Regular,21
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,-1
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,--,17
...,...,...,...,...,...,...
32060,2012,Mitsubishi,Lancer,Compact Cars,Regular,25
32063,2012,Mitsubishi,Lancer AWD,Compact Cars,Regular,25
32065,2012,Mitsubishi,Lancer Evolution,Compact Cars,Premium,19
32064,2012,Mitsubishi,Lancer Evolution,Compact Cars,Premium,19
32106,2012,Mitsubish,NaN,--,--,-1

In [34]:
avgMPG = fuel['Combined MPG (FT1)'].mean()

In [35]:
avgMPG

19.444177898424922

In [36]:
fuel['Class'].fillna('?')

Vehicle ID
26587               Minicompact Cars
27705                              ?
26561                              ?
27681                    Two Seaters
27550    Special Purpose Vehicle 2WD
                    ...
32060                   Compact Cars
32063                   Compact Cars
32065                   Compact Cars
32064                   Compact Cars
32106                              ?
Name: Class, Length: 31684, dtype: object

In [41]:
fuel['Combined MPG (FT1)'].fillna(method = 'ffill')

Vehicle ID
26587    20.0
27705    20.0
26561    21.0
27681    21.0
27550    17.0
         ...
32060    25.0
32063    25.0
32065    19.0
32064    19.0
32106    19.0
Name: Combined MPG (FT1), Length: 31684, dtype: float64