In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rnd
fuel = pd.read_csv(r'E:\PythonAnacondaScripts\course-files\fuel.csv', usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type',
                                                     'Combined MPG (FT1)'], low_memory=False, index_col='Vehicle ID')

In [2]:
fuel.loc[27681, 'Combined MPG (FT1)'] = np.NaN

In [3]:
fuel

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,NaN
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
...,...,...,...,...,...,...
32060,2012,Mitsubishi,Lancer,Compact Cars,Regular,25.0
32063,2012,Mitsubishi,Lancer AWD,Compact Cars,Regular,25.0
32065,2012,Mitsubishi,Lancer Evolution,Compact Cars,Premium,19.0
32064,2012,Mitsubishi,Lancer Evolution,Compact Cars,Premium,19.0
32106,2012,Mitsubish,NaN,NaN,NaN,NaN

In [7]:
fuel.sort_values(by = ['Make', 'Model'], ascending=(True))

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
27549,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0
28425,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0
1032,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Regular,16.0
...,...,...,...,...,...,...
26294,2009,smart,fortwo coupe,Two Seaters,Premium,36.0
29812,2010,smart,fortwo coupe,Two Seaters,Premium,36.0
30918,2011,smart,fortwo coupe,Two Seaters,Premium,36.0
31064,2011,smart,fortwo electric drive cabriolet,Two Seaters,Electricity,87.0
31065,2011,smart,fortwo electric drive coupe,Two Seaters,Electricity,87.0

In [14]:
fuel.sort_values(['Combined MPG (FT1)'], na_position='first', ascending=False, inplace=True)

In [17]:
fuel.sort_index(ascending=True)

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
1,1985,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
2,1985,Bertone,X1/9,Two Seaters,Regular,22.0
3,1985,Chevrolet,Corvette,Two Seaters,Regular,17.0
4,1985,Chevrolet,Corvette,Two Seaters,Regular,17.0
5,1985,Nissan,300ZX,Two Seaters,Regular,16.0
...,...,...,...,...,...,...
34762,2011,Lincoln,Navigator Limo. 2WD FFV,Sport Utility Vehicle - 2WD,Gasoline or E85,13.0
34763,2011,Jeep,Grand Cherokee 4WD,Sport Utility Vehicle - 4WD,Regular,18.0
34764,2011,Kia,Sportage 4WD,Sport Utility Vehicle - 4WD,Regular,23.0
34765,2011,Lincoln,MKT Hearse AWD,Sport Utility Vehicle - 4WD,Regular,16.0
34766,2011,Nissan,Murano CrossCabriolet,Sport Utility Vehicle - 4WD,Premium,19.0