In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rnd
surveys = pd.read_csv(r'E:\PythonAnacondaScripts\course-files\StackOverflowDeveloperSurvey2018.csv', usecols = ['Country','Gender','OperatingSystem'],
                   low_memory=False)
surveys

                  Country OperatingSystem Gender
0                   Kenya     Linux-based   Male
1          United Kingdom     Linux-based   Male
2           United States             NaN    NaN
3           United States         Windows   Male
4            South Africa         Windows   Male
...                   ...             ...    ...
98850       United States             NaN    NaN
98851               Spain             NaN    NaN
98852               India             NaN    NaN
98853  Russian Federation             NaN    NaN
98854            Cambodia             NaN    NaN

[98855 rows x 3 columns]

In [4]:
surveys.nunique()

Country            183
OperatingSystem      4
Gender              15
dtype: int64

In [9]:
surveys['Country'].unique()[:5]

array(['Kenya', 'United Kingdom', 'United States', 'South Africa',
       'Nigeria'], dtype=object)