In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rnd
animals = pd.read_csv(r'E:\PythonAnacondaScripts\course-files\sleep_time.csv',
                   low_memory=False, index_col='ID')
animals.fillna(0)

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,0.0,0.000000,11.9,0.00000,50.000
2,Owl monkey,Aotus,omni,Primates,0,17.0,1.8,0.000000,7.0,0.01550,0.480
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.00000,1.350
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
...,...,...,...,...,...,...,...,...,...,...,...
79,Tree shrew,Tupaia,omni,Scandentia,0,8.9,2.6,0.233333,15.1,0.00250,0.104
80,Bottle-nosed dolphin,Tursiops,carni,Cetacea,0,5.2,0.0,0.000000,18.8,0.00000,173.330
81,Genet,Genetta,carni,Carnivora,0,6.3,1.3,0.000000,17.7,0.01750,2.000
82,Arctic fox,Vulpes,carni,Carnivora,0,12.5,0.0,0.000000,11.5,0.04450,3.380
83,Red fox,Vulpes,carni,Carnivora,0,9.8,2.4,0.350000,14.2,0.05040,4.230

In [11]:
herbi = animals.where(animals['vore'] == 'herbi')

In [13]:
animals.where(herbi)

ValueError: Boolean array expected for the condition, not object