In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rnd
fuel = pd.read_csv(r'E:\PythonAnacondaScripts\course-files\fuel.csv', usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type',
                                                     'Combined MPG (FT1)'], low_memory=False, index_col='Vehicle ID')

In [36]:
fuel.loc[27705, 'Class'] = np.NaN
fuel.loc[26561, 'Class'] = np.NaN
fuel.loc[27550, 'Fuel Type'] = np.NaN
fuel.loc[27705, 'Combined MPG (FT1)'] = np.NaN
fuel.loc[27681, 'Combined MPG (FT1)'] = np.NaN

In [33]:
fuel[fuel['Vehicle ID'] == 27705]

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0

In [38]:
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0