In [3]:
import pandas as pd
profession = pd.read_csv(r'E:\PythonAnacondaScripts\course-files\Prestige.csv',index_col='name')

In [4]:
profession.head()

                     education  income  women  prestige  census  type
name
gov.administrators       13.11   12351  11.16      68.8    1113  prof
general.managers         12.26   25879   4.02      69.1    1130  prof
accountants              12.77    9271  15.70      63.4    1171  prof
purchasing.officers      11.42    8865   9.11      56.8    1175  prof
chemists                 14.62    8403  11.68      73.5    2111  prof

In [6]:
professionalOriginal = profession.copy()

In [23]:
profession.rename(columns = {'income':'incomeDollarsPerYear'}, inplace=True)

In [31]:
profession.head()

,education,incomeDollarsPerYear,womenPercent,prestigeIndicator,census,type
name,,,,,,
gov.administrators,13.11,12351,11.16,68.8,1113,prof
general.managers,12.26,25879,4.02,69.1,1130,prof
accountants,12.77,9271,15.70,63.4,1171,prof
purchasing.officers,11.42,8865,9.11,56.8,1175,prof
chemists,14.62,8403,11.68,73.5,2111,prof

In [30]:
profession.rename(columns = {'women':'womenPercent', 'prestige':'prestigeIndicator'}, inplace = True)

In [32]:
professionalOriginal

                     education  income  women  prestige  census  type
name
gov.administrators       13.11   12351  11.16      68.8    1113  prof
general.managers         12.26   25879   4.02      69.1    1130  prof
accountants              12.77    9271  15.70      63.4    1171  prof
purchasing.officers      11.42    8865   9.11      56.8    1175  prof
chemists                 14.62    8403  11.68      73.5    2111  prof
...                        ...     ...    ...       ...     ...   ...
bus.drivers               7.58    5562   9.47      35.9    9171    bc
taxi.drivers              7.93    4224   3.59      25.1    9173    bc
longshoremen              8.37    4753   0.00      26.1    9313    bc
typesetters              10.00    6462  13.58      42.2    9511    bc
bookbinders               8.55    3617  70.87      35.2    9517    bc

[102 rows x 6 columns]